body {
  margin: 0;
  font-family: 'Poppins';
  overflow: hidden;
}

hr {
  width: 220px;
}


.menu-Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #101827;
  height: 100vh;
}

.avatar {
  right: 60px;
}


.items-boxes {
  color: #EEF3FD;
}

.type {
  background-color: #192130;
  color: #EEF3FD;
}

.type label {
  color: #EEF3FD;
}

.white-text input {
  color: #fff;
}

.kpi-container{
  display: flex;
  padding: 8px;
}

.title {
text-transform: uppercase;
padding: 0 12px ;
color: rgba(98, 98, 98, 0.865);
}

.amount {
  padding: 0 12px ;
}

.change-kpi {
  font-size: 13px;
  color: rgba(178, 175, 175, 0.865);
}

.pie-container {
  display: block;
  padding: 0 10px;
}

.icons-pie{
  justify-content: center;
}