/* :root {
  --bg: #fefdf9;
  --box: #787373;
  --border: #534d4d;
}

body {
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  padding: 0 100px;
}

*,
* ::before,
* ::after {
  box-sizing: inherit;
}

.container {
  background-color: var(--box);
}

.menu{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
    border: 4px solid var(--border);
}
 */
